# Basic Natural Language Processing (NPL) with Squid Game Netflix Tweets

In [40]:
!pip install -U spacy --quiet

In [41]:
!python -m spacy download en_core_web_sm --quiet

[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [28]:
!pip install pandas --upgrade --quiet

In [29]:
import spacy
import pandas as pd

In [30]:
import opendatasets as od
download_url = 'https://www.kaggle.com/deepcontractor/squid-game-netflix-twitter-data/code'

od.download(download_url)

Skipping, found downloaded files in ".\squid-game-netflix-twitter-data" (use force=True to force download)

In [31]:
data_filename = './squid-game-netflix-twitter-data/tweets.csv'

In [32]:
#read the tweets 
tweets = pd.read_csv(data_filename)
tweets

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,source,is_retweet
0,the _√ªnd√´r-rat√®d nigg√°hüëäüèæ,NaN,@ManUtd die hard‚ù§Ô∏è‚ù§Ô∏èüí™üèøüí™üèø\n\n\nYOLO\n\n\nJ'ai b...,2019-09-06 19:24:57+00:00,581,1035,8922,False,2021-10-06 12:05:38+00:00,When life hits and the same time poverty strik...,Twitter for Android,False
1,Best uncle on planet earth,NaN,NaN,2013-05-08 19:35:26+00:00,741,730,8432,False,2021-10-06 12:05:22+00:00,That marble episode of #SquidGame ruined me. üò≠üò≠üò≠,Twitter for Android,False
2,marcie,NaN,animal crossing. chicken nuggets. baby yoda. s...,2009-02-21 10:31:30+00:00,562,1197,62732,False,2021-10-06 12:05:22+00:00,#Squidgame time,Twitter Web App,False
3,YoMo.Mdp,Any pronouns,Where the heck is the karma\nI'm going on my s...,2021-02-14 13:21:22+00:00,3,277,1341,False,2021-10-06 12:05:04+00:00,//Blood on 1st slide\nI'm joining the squidgam...,Twitter Web App,False
4,Laura Reactions,France,I talk and I make reactions videos about shows...,2018-12-19 20:38:28+00:00,330,152,2278,False,2021-10-06 12:05:00+00:00,"The two first games, players were killed by th...",Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,KaviS,üìçAustralia | ‚ù§Ô∏è Sri Lanka,Well! there‚Äôs nothing to tell about me! *Effor...,2017-07-15 00:32:55+00:00,13,131,52,False,2021-10-05 11:06:39+00:00,Watched the Squid Game trailer. Not interested...,Twitter for iPhone,False
9996,Petra üêª,"New South Wales, Australia",Íú± ú·¥á/ ú·¥á Ä ùòéùò¢ùòÆùò¶ùò≥ ùòîùò∂ùòÆ // ùòïùò¶ùòµùòßùò≠ùò™ùòπ ùòäùò∞ùòØùòØùò∞ùò™ùò¥ùò¥ùò¶ùò∂ùò≥ // ùòóùò∞...,2016-06-21 09:13:35+00:00,83,210,931,False,2021-10-05 11:06:25+00:00,"Ok, time to see what all this #SquidGame hype ...",Twitter for iPhone,False
9997,Hazel ü•∏,"Redhill, Surrey",Married to @malfonzobonzo Season Ticket holder...,2009-01-10 19:56:06+00:00,1585,1708,2898,False,2021-10-05 11:06:10+00:00,Absolutely refusing point blank to be drawn in...,Twitter for iPhone,False
9998,Marzena Falkowska,NaN,I translate movies (EN-PL) and write about gam...,2015-06-03 10:43:16+00:00,113,83,118,False,2021-10-05 11:05:29+00:00,@StavroulaSokoli @AVUE_eV @guillermosubs I'm n...,Twitter Web App,False
9999,Keith J,"Cinderford, England",Real name is Mr Mysterious. Or is it? A sprink...,2009-01-28 13:43:58+00:00,599,3054,6603,False,2021-10-05 11:05:24+00:00,I don't like to blow my own trumpet but...\n\n...,Twitter for Android,False

In [33]:
tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,source,is_retweet
0,the _√ªnd√´r-rat√®d nigg√°hüëäüèæ,NaN,@ManUtd die hard‚ù§Ô∏è‚ù§Ô∏èüí™üèøüí™üèø\n\n\nYOLO\n\n\nJ'ai b...,2019-09-06 19:24:57+00:00,581,1035,8922,False,2021-10-06 12:05:38+00:00,When life hits and the same time poverty strik...,Twitter for Android,False
1,Best uncle on planet earth,NaN,NaN,2013-05-08 19:35:26+00:00,741,730,8432,False,2021-10-06 12:05:22+00:00,That marble episode of #SquidGame ruined me. üò≠üò≠üò≠,Twitter for Android,False
2,marcie,NaN,animal crossing. chicken nuggets. baby yoda. s...,2009-02-21 10:31:30+00:00,562,1197,62732,False,2021-10-06 12:05:22+00:00,#Squidgame time,Twitter Web App,False
3,YoMo.Mdp,Any pronouns,Where the heck is the karma\nI'm going on my s...,2021-02-14 13:21:22+00:00,3,277,1341,False,2021-10-06 12:05:04+00:00,//Blood on 1st slide\nI'm joining the squidgam...,Twitter Web App,False
4,Laura Reactions,France,I talk and I make reactions videos about shows...,2018-12-19 20:38:28+00:00,330,152,2278,False,2021-10-06 12:05:00+00:00,"The two first games, players were killed by th...",Twitter Web App,False

In [34]:
tweets.describe()

       user_followers   user_friends  user_favourites
count    1.000000e+04   10000.000000     1.000000e+04
mean     1.071004e+04    1080.459300     1.914694e+04
std      1.469808e+05    7649.213799     4.210148e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      8.000000e+01     130.750000     6.807500e+02
50%      3.290000e+02     383.000000     4.581000e+03
75%      1.179000e+03     882.250000     1.832775e+04
max      9.066758e+06  279180.000000     1.144792e+06

In [35]:
#Load the pre-trained model
import en_core_web_sm
#nlp = en_core_web_sm.load()
nlp = spacy.load("en_core_web_sm")

In [36]:
#Extract text from Pandas Colum

text=str(tweets['text'])
doc = nlp(text)

In [37]:
#Parts of Speech


for token in doc:
    print(token.text, token.pos_)

0 NUM
       SPACE
When ADV
life NOUN
hits VERB
and CCONJ
the DET
same ADJ
time NOUN
poverty NOUN
strik PROPN
... PUNCT

 SPACE
1 NUM
       SPACE
That DET
marble NOUN
episode NOUN
of ADP
# SYM
SquidGame PROPN
  SPACE
ruined VERB
me PRON
. PUNCT
üò≠ PROPN
üò≠ PROPN
üò≠ PROPN

 SPACE
2 NUM
                                         SPACE
# SYM
Squidgame PROPN
time NOUN

 SPACE
3 NUM
       SPACE
//Blood PROPN
on ADP
1st NOUN
slide\nI'm PROPN
joining VERB
the DET
squidgam NOUN
... PUNCT

 SPACE
4 NUM
       SPACE
The DET
two NUM
first ADJ
games NOUN
, PUNCT
players NOUN
were AUX
killed VERB
by ADP
th X
... PUNCT

                               SPACE
... PUNCT

 SPACE
9995 NUM
    SPACE
Watched VERB
the DET
Squid PROPN
Game PROPN
trailer NOUN
. PUNCT
Not PART
interested ADJ
... PUNCT

 SPACE
9996 NUM
    SPACE
Ok INTJ
, PUNCT
time NOUN
to PART
see VERB
what PRON
all DET
this DET
# SYM
SquidGame PROPN
hype NOUN
... PUNCT

 SPACE
9997 NUM
    SPACE
Absolutely ADV
refusing VERB
point NOUN
blank ADJ
to PART
be AUX
drawn VERB
in ADP
... PUNCT

 SPACE
9998 NUM
    SPACE
@StavroulaSokoli NOUN
@AVUE_eV NOUN
@guillermosubs NOUN
I PRON
'm VERB
n CCONJ
... PUNCT

 SPACE
9999 NUM
    SPACE
I PRON
do AUX
n't PART
like VERB
to PART
blow VERB
my PRON
own ADJ
trumpet NOUN
but CCONJ
... PUNCT
\n\n PROPN
... PUNCT

 SPACE
Name NOUN
: PUNCT
text NOUN
, PUNCT
Length NOUN
: PUNCT
10000 NUM
, PUNCT
dtype VERB
: PUNCT
object NOUN

In [38]:
#Named Entity Recognition


spacy.displacy.render(doc,style='ent',jupyter=True)

In [39]:
#Extracting a particular entity type


for ent in doc.ents:
    if ent.label_ == 'PERSON':
        print(ent.text,ent.label_)

SquidGame PERSON
\n\n PERSON